footer {
  background-color: #222;
  color: #fff;
  padding: 20px;
  font-size: 16px;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

footer a:hover {
  color: #ccc;
  border-bottom: 1px solid #ccc;
}
